* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    font-family: 'Open Sans', sans-serif;
}

.col {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.col h2 {
    padding: 10px;
    color: #fff;
    border-radius: 0.5rem;
    transition: background 0.3s;
}

.col h2:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.col button {
    outline: none;
    padding: 0.5rem  0.75rem;
    border: none;
    background: transparent;
    font-size: 1.25rem;
    color: #fff;
    border-radius: 0.5rem;
    transition: background 0.3s;
}

.col button:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}